#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
[Tt]est[Rr]esult*
*.suo
GestionFacturas.Website/App_Data/**
.vs/
obj/

/GestionFacturas.Website/obj
*.Release.config
*.ldf
*.mdf
