@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Url incorrecta";
}

<div class="white_content">
    <div class="content-wrapper">
        
        <h1>Url incorrecta</h1>
        <h2 class="text-danger">La dirección indicada no es correcta. Modifica la dirección Url para continuar o vuelve a la página principal.</h2>
    
      
             <p><a href="/">Volver a la página principal</a></p>
      
       
    </div>

</div>


