@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<div class="white_content">
    <div class="content-wrapper">
        <h1>404.</h1>
        <h2 class="text-danger">  La página solicitada no existe.</h2>
<p><a href="/">Volver a la página principal</a></p>
    </div>

</div>


