@model GestionFacturas.Website.Viewmodels.Facturas.CrearFacturaViewModel

@{
    ViewBag.Title = "Crear factura";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/listEditor/listeditor.js"></script>
}

<h2>Crear factura</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Factura, "EditorFactura")

    <p>
        <div class="col-md-12">
            <input type="submit" value="Crear" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-link" })
        </div>
    </p>
}
<br /><br />