@{
    ViewBag.Title = "Eliminar confirmado";
}

<h2>Confirmación</h2>

<h3>La factura <span class="label label-success">@ViewBag.NumeroFacturaEliminada</span> ha sido eliminada correctamente</h3>


    <p>
        <div class="col-md-12">
            @Html.ActionLink("Volver a la lista facturas", "ListaGestionFacturas", null, new { @class = "btn btn-link" })
        </div>
    </p>

<br /><br />
