@{
    ViewBag.Title = "Factura enviada";
}

<h2>Confirmación</h2>

<h3>La factura <span class="label label-success">@ViewBag.NumeroFacturaEnviada</span> ha sido enviada correctamente</h3>


    <p>
        <div class="col-md-12">
            <a href="javascript:history.back()" class="btn btn-link">Volver a enviar</a>
            @Html.ActionLink("Volver a la lista de facturas", "ListaGestionFacturas", null, new { @class = "btn btn-link" })
        </div>
    </p>

<br /><br />
