@using GestionFacturas.Web.Framework
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GestionFacturas.Web.Pages.Clientes.EditorClienteVm
          

<div class="form-horizontal">
  
    @Html.HiddenFor(model => model.Id)
    

    <div class="row">
        <div class="col-xs-12">
          <hr>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-body">
                            
                            @if (ViewData.ModelState.TieneErrores())
                            {
                                <div asp-validation-summary="All" class="alert alert-danger text-start"></div>
                            }

                            
                            <div class="form-floating mb-3">
                                <input asp-for="NombreOEmpresa" class="form-control">
                                <label asp-for="NombreOEmpresa"></label>
                                
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="NumeroIdentificacionFiscal" class="form-control">
                                <label asp-for="NumeroIdentificacionFiscal"></label>

                            </div>
                            
                            <div class="form-floating mb-3">
                                <input asp-for="NombreComercial" class="form-control">
                                <label asp-for="NombreComercial"></label>

                            </div>
                            
                            <div class="form-floating mb-3">
                                <input asp-for="PersonaContacto" class="form-control">
                                <label asp-for="PersonaContacto"></label>

                            </div>
                            
                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control">
                                <label asp-for="Email">Email</label>

                            </div>
                            

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="panel panel-default height">
                        <div class="panel-body">
                            
                            <div class="form-floating mb-3">
                                <input asp-for="Direccion1" class="form-control">
                                <label asp-for="Direccion1"></label>

                            </div>
                            
                            <div class="form-floating mb-3">
                                <input asp-for="Direccion2" class="form-control">
                                <label asp-for="Direccion2"></label>

                            </div>
                            
                            <div class="form-floating mb-3">
                                <input asp-for="Localidad" class="form-control">
                                <label asp-for="Localidad"></label>

                            </div>
                            
                            <div class="form-floating mb-3">
                                <input asp-for="Provincia" class="form-control">
                                <label asp-for="Provincia"></label>

                            </div>
                            
                            <div class="form-floating mb-3">
                                <input asp-for="CodigoPostal" class="form-control">
                                <label asp-for="CodigoPostal"></label>

                            </div>

                        </div>
                    </div>
                </div>             
           
            </div>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
             
                <div class="panel-body">
                    
                    <div class="form-floating mb-3">
                        <textarea asp-for="ComentarioInterno" class="form-control"></textarea>
                        <label asp-for="ComentarioInterno"></label>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .height {
        min-height: 200px;
    }
</style>
