<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión facturas · @ViewData["Title"]</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/bootstrap-custom.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("styles", required: false)
    
    
</head>
<body class="d-flex flex-column h-100">
    @await RenderSectionAsync("scriptsTop", required: false)

    <header class="sticky-top">
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container-fluid">
                <partial name="_MenuSuperior" />
            </div>
        </div>
        @await RenderSectionAsync("Titulo", required: false)
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 flex-shrink-0">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top mt-auto py-3 bg-light">
        <div class="container">
            <partial name="_Footer" />
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/5.1.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>