@using GestionFacturas.Website.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesion</a>
            </li>
            <li>
                &nbsp; &nbsp; &nbsp;
            </li>
        </ul>
    }
}
else
{
   
        var currentController = (string)ViewContext.RouteData.Values[RouteDataKey.Controller];
        const string activeClass = "active";
    

    <ul class="nav navbar-nav navbar-right">
        <li class="@(currentController == "Account" ? activeClass : string.Empty)">
            @Html.ActionLink("Admin", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
        <li>
            &nbsp; &nbsp; &nbsp;
        </li>
    </ul>
}
