@page
@model EnviarFacturaPorEmailModelConfirmadoModel
@{
    ViewBag.Title = "Factura enviada";
}

<div class="container">

<h2>Confirmación</h2>

<h3>La factura <span class="label label-success">@Model.NumeroFacturaEnviada</span> ha sido enviada correctamente</h3>


    <p>
        <div class="col-md-12">
            <a asp-page="@CrearFacturaModel.NombrePagina" class="btn btn-primary">Crear nueva factura</a>
            <a href="javascript:history.back()" class="btn btn-link">Atrás</a>
            <a asp-page="@ListaGestionFacturasModel.NombrePagina" class="btn btn-link">Volver a la lista de facturas</a>
        </div>
    </p>

<br /><br />

</div>