@page
@model CrearClienteModel

@{
    ViewData["Title"] = "Crear cliente";
}

<h4>@ViewData["Title"]</h4>
<div class="container">
<form method="post" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    @Html.EditorFor(m=>m.Editor, "EditorCliente")
    
    <input class="btn btn-primary" type="submit" value="Guardar" />
    <a class="btn btn-link" asp-page="@ListaGestionClientesModel.NombrePagina"> Back to the list</a>

</form>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
