@page "{id:int}"
@model EliminarClienteModel

@{
    ViewData["Title"] = "Eliminar cliente";
}

<h4>@ViewData["Title"]</h4>

<form method="post" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" type="hidden"/>
    
    @Html.EditorFor(m=>m.Editor, "EditorCliente")
    
    <input class="btn btn-danger" type="submit" value="Eliminar" />
    <a class="btn btn-link" asp-page="@ListaGestionClientesModel.NombrePagina"> Back to the list</a>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
