@{
    ViewBag.Title = "Eliminar confirmado";
}

<h2>Confirmación</h2>

<h3>El cliente <span class="label label-success">@ViewBag.NombreOEmpresaEliminado</span> ha sido eliminado correctamente</h3>


    <p>
        <div class="col-md-12">
            @Html.ActionLink("Volver a la lista de clientes", "ListaGestionClientes", null, new { @class = "btn btn-link" })
        </div>
    </p>

<br /><br />
