.bi {
    /*vertical-align: -.125em;*/
    fill: currentColor;
}



textarea {
    overflow: hidden;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/*Autocomplete tags*/
.ui-autocomplete {
    list-style: none;
    background: #f8f8f8;
    line-height: 32px;
    cursor: pointer;
    width: auto;
    font-weight: bold;
    width: 30%;
    z-index: 10000 !important;
}

.ui-autocomplete li {
    border-bottom: 1px dashed #bef3db;
    width: 100%;
}

.ui-autocomplete li:hover {
    color: #337bab;
}

.ui-helper-hidden-accessible {
    display: none;
}